body{
    background: gray;
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.postcard{
    background: white;
    margin-top: 10px;
}
div.postcard img{
    width: 100%;
}
div.postcard .postcard-header div:first-child{
    display: inline-block;
    width: 80%;
    
}
div.postcard .postcard-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    color: grey;
}
div.postcard h2, div.postcard p{
    padding: 10px ;
    margin: 0;
}
div.container{
    width: 600px;
    margin: auto;
}